<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/loginSuccess">
      <input type="text" name="username"><br>
      <input type="password" name="password"><br>
      <div><a href="./amendPassword">修改密码</a></div>
      <input type="submit" value="登录">
    </form>
  </body>
</html>
